:root {
  // // Colors

  // Primary

  --color-primary: hsl(185, 75%, 39%);

  // Neutral

  --color-gray-dark: hsl(229, 23%, 23%);
  --color-gray: hsl(227, 10%, 46%);
  --color-gray-hr: hsla(223, 5%, 73%, 0.583);
  --color-gray-light: hsl(0, 0%, 59%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  background-color: var(--color-primary);
  font-family: 'Kumbh Sans', sans-serif;
}

